Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

docs(readme): add link to published articles
  README.md
Due: prettier --write

docs(readme): make heading
  README.md
Due: prettier --write

docs(readme): list blog posts I wrote for this project
  README.md
Due: prettier --write

chore(import-sort): add import-sort rules
  .eslintrc.json
Due: prettier --write

chore(deps): eslint-plugin-prettier
  .eslintrc.json
  .lintstagedrc.json
  package-lock.json
  package.json
Due: prettier --write

fix(eslintrc): no-self-import rule
  .eslintrc.json
  documentation.json
Due: prettier --write

feat: add ingredients
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.scss
Due: prettier --write, stylelint --syntax=scss

feat: update styling of the choice
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.scss
  src/app/food/food-choice/food-choice.stories.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

feat(ingredient): add ingredients to mock data
  .cspell.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/storybook-mock/constants.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat(ingredient): add ingredients to Netlify function
  README.md
  src/app/food/food-choice/food-choice.component.html
  src/app/food/interfaces/menu.interface.ts
  src/app/food/storybook-mock/constants.ts
  src/assets/functions/menu.ts
  src/assets/menu.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/menu.ts
  assets/menu.json
  index.html
  main.08414c15e9ad8f5726ba.js
  main.e79f6d3b8ef89ca3932f.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: add missing return type
  documentation.json
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: rename function
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.da7f9d80fb1ee90a12cc.js
  main.e79f6d3b8ef89ca3932f.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add new blog post to the list
  README.md
Due: prettier --write

refactor: add food service interface
  documentation.json
  src/app/food/interfaces/food-service.interface.ts
  src/app/food/interfaces/index.ts
  src/app/food/interfaces/price-quantity.interface.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: await in for loop is bad
  .eslintrc.json
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: betterer
  .betterer.results
  .betterer.ts
  .cspell.json
  package-lock.json
  package.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore(deps): install betterer dependencies
  .betterer.ts
  .eslintignore
  .eslintrc.json
  package-lock.json
  package.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: betterer precommit
  .husky/pre-commit
Due: none

refactor: remove await in loop
  .betterer.results
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: eslint disable no-await-in-loop
  .eslintrc.json
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: betterer test for eslint-comments/no-use
  .betterer.results
  .betterer.ts
  .eslintrc.json
  package-lock.json
  package.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: remove betterer rules that meet their goals
  .betterer.results
  .betterer.ts
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: remove betterer rules that meet their goals
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.0fd364d079a6bfbe6884.js
  main.da7f9d80fb1ee90a12cc.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.0fd364d079a6bfbe6884.js
  main.5bfc20659511989a8cd5.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add typescript-eslint rules
  .betterer.ts
  .eslintrc.json
  package-lock.json
  package.json
  src/app/food/food-shell/food-shell.component.ts
  src/assets/functions/menu.ts
  src/assets/functions/tips.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/menu.ts
  assets/functions/tips.ts
  index.html
  main.5bfc20659511989a8cd5.js
  main.da7f9d80fb1ee90a12cc.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add betterer scripts
  .husky/pre-commit
  package.json
Due: prettier --write

chore: gitignore betterer.cache
  .gitignore
Due: none

chore(release): 0.0.6
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: set node verion to 14
  .nvmrc
Due: none

revert: delete .nvmrc
  .nvmrc
Due: none

docs(readme): add deploy netlify functions to production
  README.md
Due: prettier --write

docs(readme): add manual deployment to production
  README.md
Due: prettier --write

chore: console log debug netlify function
  src/app/food/services/food.service.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.54f4f699e16646be5409.js
  main.da7f9d80fb1ee90a12cc.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add headers for cors
  src/_headers
Due: none

Path conditions:
  cspell 'src/**/*.ts': any of: *.{ts,js}
  eslint --fix --max-warnings 0: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.scss)) or (any of: *.{md,json,html})
  stylelint --syntax=scss: any of: *.scss
