Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["cspell 'src/**/*.ts'", "eslint --fix --max-warnings 0"],
  "*.scss": ["stylelint --syntax=scss", "prettier --write"],
  "*.{md,json,html}": "prettier --write"
}

refactor: remove FormsModule and ReactiveFormsModule from story books
  .betterer.results
  README.md
  documentation.json
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/simple-change.interface.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-total/food-total.stories.ts
  src/app/food/interfaces/index.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: type guard form group
  .betterer.results
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice-form/food-choice-form.type-guard.ts
  src/app/food/food-choice-form/interfaces/form-value-quantity.interface.ts
  src/app/food/food-choice-form/interfaces/index.ts
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.type-guard.ts
  src/app/food/food-choice/interfaces/index.ts
  src/app/food/food-choice/interfaces/simple-change.interface.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.516deeffc7e10394948c.js
  main.9e299f4865c8033a19a4.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add instruction to install volta manager
  README.md
  package.json
Due: prettier --write

docs: update install netlify-cli in README
  README.md
Due: prettier --write

chore: add postcss.config.js
  documentation.json
  postcss.config.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

docs: add blog post entry to README.md
  README.md
Due: prettier --write

chore(deps): storybook-a11y addon
  .storybook/main.js
  package-lock.json
  package.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: install storybook/a11y addon
  documentation.json
  package-lock.json
  package.json
Due: prettier --write

fix: accessibility violations
  package-lock.json
  package.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/styles.scss
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

fix: accessibility violations
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.516deeffc7e10394948c.js
  main.fd2e9226985e1f10d677.js
  runtime.54912750923a439c2f34.js
  runtime.e556663cca0ee4fbae26.js
  styles.caa5134ee446c9de0a99.css
  styles.e5bf293e28d7782ca670.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add arial-label
  .betterer.results
  .lintstagedrc.json
  documentation.json
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/app/food/food-total/food-total.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.7fd763f7665b1e4b0889.js
  main.fd2e9226985e1f10d677.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

revert: color of lower supply text
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.7fd763f7665b1e4b0889.js
  main.b219d7ac2c742f7ceac9.js
  runtime.54912750923a439c2f34.js
  runtime.bd4b8b5aefb5f646eb7f.js
  styles.7a1e37bcda91a562ca5e.css
  styles.e5bf293e28d7782ca670.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: update aria-label
  src/app/food/food-menu-options/food-menu-options.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: add aria-label to options of tip dropdown
  documentation.json
  src/app/food/food-total/food-total.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.706e5136b77bc931c743.js
  main.b219d7ac2c742f7ceac9.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: accessibility violation
  .betterer.results
  documentation.json
  src/app/food/food-total/food-total.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.706e5136b77bc931c743.js
  main.73c37fab17d52ba77fb5.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

docs(Readme): update article list
  README.md
Due: prettier --write

refactor: food menu module
  documentation.json
  src/app/food/food-choice-form/food-choice-form.module.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
  src/app/food/food-choice-form/index.ts
  src/app/food/food-choice/food-choice.module.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.module.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu-card/index.ts
  src/app/food/food-menu-options/food-menu-options.module.ts
  src/app/food/food-menu-options/index.ts
  src/app/food/food-menu/food-menu.module.ts
  src/app/food/food-question/food-question.component.ts
  src/app/food/food-question/food-question.module.ts
  src/app/food/food-question/index.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: delete ngModule of components
  src/app/food/food-choice-form/food-choice-form.module.ts
  src/app/food/food-menu-card/food-menu-card.module.ts
  src/app/food/food-menu-options/food-menu-options.module.ts
  src/app/food/food-question/food-question.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: upgrade lib to ES2019
  documentation.json
  tsconfig.json
Due: prettier --write

chore: add margin
  src/app/food/food-total/food-total.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.73c37fab17d52ba77fb5.js
  main.ca4cca36643401146fec.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: add stock interface
  .betterer.results
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/interfaces/index.ts
  src/app/food/interfaces/stock.interface.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: show low supply icon and text after chaning from sold out menu option to show all menu option
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/interfaces/simple-change.interface.ts
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.ca4cca36643401146fec.js
  main.e26339a2cf1d9f1d9fb4.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: show food in low supply
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/interfaces/stock.interface.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

feat: display food in low supply
  src/app/food/food-menu-options/food-menu-options.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

feat: add alert low supply event
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

feat: low supply option
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/interfaces/food-service.interface.ts
  src/app/food/interfaces/ordered-choice.interface.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: filter food in low supply
  documentation.json
  src/app/food/enums/menu-option.enum.ts
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: display message when menu option returns zero food or drink
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.2d97d9dc19c2bc9f0b63.js
  main.e26339a2cf1d9f1d9fb4.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: ngTemplateOutlet to show alternative templates
  documentation.json
  src/app/food/food-menu/food-menu.component.html
Due: prettier --write

feat: add custom pipe to transform enum value to display text
  documentation.json
  src/app/food/enums/menu-option.enum.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-menu/food-menu.module.ts
  src/app/food/food-menu/render-menu-option.pipe.spec.ts
  src/app/food/food-menu/render-menu-option.pipe.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.2d97d9dc19c2bc9f0b63.js
  main.d69b0237aad7d15de5d4.js
  runtime.48ee1f161299d476fc6f.js
  runtime.bd4b8b5aefb5f646eb7f.js
  styles.7a1e37bcda91a562ca5e.css
  styles.c34401e57326f2a2c5b5.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write
