Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell ., eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

chore(release): 0.0.9
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

refactor: delay constant
  src/app/food/food-choice-form/food-choice-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.d69b0237aad7d15de5d4.js
  main.fdc2b9291e06b442ad5c.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: add return type to private functions
  .betterer.results
  src/app/food/food-choice-form/food-choice-form.component.ts
Due: cspell ., eslint --fix --max-warnings 0

fix: food menu card sold out story
  documentation.json
  src/app/food/food-menu-card/food-menu-card.stories.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: rename to MENU_OPTIONS
  documentation.json
  src/app/food/enums/menu-option.enum.ts
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-menu/render-menu-option.pipe.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: render option pipe
  src/app/food/food-menu/render-menu-option.pipe.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.2776cf5696270cce9640.js
  main.fdc2b9291e06b442ad5c.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: format object in story
  src/app/food/food-choice/food-choice.stories.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: render option pipe
  documentation.json
  src/app/food/food-menu/render-menu-option.pipe.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.2776cf5696270cce9640.js
  main.bd4538c6af53e9604f4c.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: remove betterer
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  561.153b01f9e818cc94.js
  577.2a6d4437dc07586d9b70.js
  610.8a109e3cc9459348.js
  610.c120a132d7c2957565b4.js
  801.fdeb592474d337fe.js
  976.d7c9903a736068b07ebc.js
  index.html
  main.bd4538c6af53e9604f4c.js
  main.d550a1092f0955fe.js
  polyfills.36c2f5b538ba5c0f4a24.js
  polyfills.cf5f5166960233ba.js
  runtime.3d33b689c8f94725.js
  runtime.48ee1f161299d476fc6f.js
  styles.c34401e57326f2a2c5b5.css
  styles.dafe5bec9f80dcb0.css
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: delete betterer config
  .betterer.results
  .betterer.ts
  documentation.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

feat: add food shell story where all the food is sold out
  documentation.json
  src/app/food/food-shell/food-shell.stories.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Update README.md
  README.md
Due: prettier --write

refactor: use ternary expression to display ng template
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: food choice description component
  src/app/food/food-choice-description/food-choice-description.component.scss
  src/app/food/food-choice-description/food-choice-description.component.spec.ts
  src/app/food/food-choice-description/food-choice-description.component.ts
  src/app/food/food-choice-description/food-choice-description.stories.ts
  src/app/food/food-choice-description/index.ts
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.scss
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.module.ts
Due: cspell ., eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

refactor: food choice description component
  .cspell.json
  src/app/food/food-choice-description/food-choice-description.component.ts
  src/app/food/food-choice-description/food-choice-description.stories.ts
  src/app/food/food-choice/food-choice.component.scss
  src/app/food/food-choice/food-choice.component.ts
Due: cspell ., eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

chore: add blog post to talk about single component angular module
  README.md
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.96deca577ba8a9710448.js
  main.bd4538c6af53e9604f4c.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: pin node and npm versions
  package.json
Due: prettier --write

chore(deps): upgrade angular cli and angular-eslint
  .gitignore
  package-lock.json
  package.json
  src/polyfills.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(deps): upgrade storybook
  .cspell.json
  .storybook/main.js
  .storybook/preview.js
  .storybook/tsconfig.json
  angular.json
  documentation.json
  package-lock.json
  package.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: create dynamic fontawesome icon in angular 13
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.module.ts
Due: cspell ., eslint --fix --max-warnings 0

refactor: remove FormsModule import
  documentation.json
  src/app/food/food-choice-form/food-choice-form.stories.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
  src/app/food/food-menu/food-menu.module.ts
  src/app/food/food-total/food-total.module.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  561.153b01f9e818cc94.js
  577.2a6d4437dc07586d9b70.js
  610.9270bf21c9cd21c6.js
  610.c120a132d7c2957565b4.js
  801.fdeb592474d337fe.js
  976.d7c9903a736068b07ebc.js
  index.html
  main.96deca577ba8a9710448.js
  main.f611cbf860ddddc4.js
  polyfills.36c2f5b538ba5c0f4a24.js
  polyfills.cf5f5166960233ba.js
  runtime.48ee1f161299d476fc6f.js
  runtime.6acceb573ed2838f.js
  styles.c34401e57326f2a2c5b5.css
  styles.eb750eb0d1dd2f58.css
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

refactor: create dynamic fontawesome icon in angular 13
  documentation.json
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore: disable adds-on doc as workaround to storybook/angular bugs
  .storybook/main.js
  documentation.json
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.af579d680bf19760.js
  main.f611cbf860ddddc4.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

chore(deps): eslint-rxjs-errors
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

refactor: es6 destructure property
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-shell/food-shell.component.ts
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.1fcfa1aabd8aed6d.js
  main.af579d680bf19760.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

fix: eslint errors in rxjs
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/services/food.service.ts
Due: cspell ., eslint --fix --max-warnings 0

fix: eslint errors in rxjs
  src/app/food/services/food.service.ts
Due: cspell ., eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.1fcfa1aabd8aed6d.js
  main.f50107a5b87f4082.js
Due: cspell ., eslint --fix --max-warnings 0, prettier --write

Path conditions:
  cspell .: any of: *.{ts,js}
  eslint --fix --max-warnings 0: any of: *.{ts,js}
  stylelint --syntax=scss: any of: *.scss
  prettier --write: (any of: *.scss) or (any of: *.{md,json,html})
