Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

chore: add headers for cors
  src/_headers
Due: none

chore: add preflight in netlify function
  src/_headers
  src/assets/functions/menu.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  assets/functions/menu.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: add preflight in netlify function
  src/assets/functions/menu.ts
  src/assets/functions/tips.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  assets/functions/menu.ts
  assets/functions/tips.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

fix: add async keyword back to netlify functions
  .betterer.results
  .eslintrc.json
  src/assets/functions/menu.ts
  src/assets/functions/tips.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

docs(readme): update netlify deployment
  README.md
Due: prettier --write

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .betterer.results
  .betterer.ts
  .eslintrc.json
  package.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .betterer.results
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu-option/food-menu-option.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .betterer.results
  src/app/food/validators/fulfill-order-validator.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .betterer.results
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore: organize TypeScript file
  .betterer.results
  .betterer.ts
  .cspell.json
  src/app/food/food-card/food-card.component.ts
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-question/food-question.component.ts
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
  src/test.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .betterer.results
  .betterer.ts
  .eslintrc.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/interfaces/index.ts
  src/app/food/interfaces/simple-change.interface.ts
  src/test.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.54f4f699e16646be5409.js
  main.a955d02457df42d11c74.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add betterer test for typescript-eslint/recommended-requiring-type-checking
  .eslintrc.json
  documentation.json
  src/test.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: test subject in destroy phase
  .betterer.results
  documentation.json
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore(storybook): downgrade to 6.3.12
  documentation.json
  package-lock.json
  package.json
Due: prettier --write

chore(deps): eslint-plugin-storybook
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(dep): install eslint-import-resolver-typescript and extends eslint-import plugin
  .eslintrc.json
  package-lock.json
  package.json
Due: prettier --write

revert: changes to check subject in destory phase
  src/app/food/food-menu/food-menu.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

chore(deps): tailwind v3
  .cspell.json
  .stylelintrc.json
  documentation.json
  package-lock.json
  package.json
  src/app/food/food-card/food-card.component.ts
  src/styles.scss
  tailwind.config.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

chore(deps): install storybook/addon-postcss
  package-lock.json
  package.json
Due: prettier --write

feat: use tailwind css of food card component
  .betterer.results
  .storybook/main.js
  src/app/food/food-card/food-card.component.scss
  src/app/food/food-card/food-card.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: use tailwind css of food choice component
  documentation.json
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice-form/food-choice-form.component.scss
  src/app/food/food-choice-form/food-choice-form.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: use tailwind css of food choice component
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.scss
Due: stylelint --syntax=scss, prettier --write

feat: use tailwind css of food question component
  src/app/food/food-question/food-question.component.html
  src/app/food/food-question/food-question.component.scss
  src/app/food/food-question/food-question.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: use tailwind css of food question component
  src/app/food/food-question/food-question.component.html
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  610.2088c650020b18af8f29.js
  610.be80dff75f80a5b062e8.js
  index.html
  main.a955d02457df42d11c74.js
  main.f68705f796a3a635939c.js
  runtime.6179c05c894eecd66588.js
  runtime.cf92be3669154664ae62.js
  styles.2d2979c52a76176dc1ea.css
  styles.e3fb3ccea2b840583e99.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: configure release script to bypass verification in git commit
  .versionrc.json
  documentation.json
  package.json
Due: prettier --write

chore(release): 0.0.7
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

feat: apply tailwind on option menu
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/styles.scss
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: remove right padding of option menu
  documentation.json
  src/app/food/food-menu-option/food-menu-option.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: apply tailwind on option menu
  .betterer.results
  src/app/food/food-menu-option/food-menu-option.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

feat: use tailwind css on components
  documentation.json
  src/app/food/food-card/food-card.component.ts
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-total/food-total.component.ts
  src/styles.scss
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: use tailwind on food total and food shell components
  src/app/food/food-shell/food-shell.component.scss
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

feat: center and change the text color of title
  .betterer.results
  documentation.json
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

fix: remove container class
  src/app/food/food-menu/food-menu.component.html
Due: prettier --write

feat: remove right padding of option menu
  documentation.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  610.69877bd7c351df44b3b7.js
  610.be80dff75f80a5b062e8.js
  index.html
  main.a0438f0ad631c189f23e.js
  main.f68705f796a3a635939c.js
  runtime.307cc75b6a75df8c31c7.js
  runtime.cf92be3669154664ae62.js
  styles.4b7b697e4e6861162c07.css
  styles.e3fb3ccea2b840583e99.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Path conditions:
  cspell 'src/**/*.ts': any of: *.{ts,js}
  eslint --fix --max-warnings 0: any of: *.{ts,js}
  stylelint --syntax=scss: any of: *.scss
  prettier --write: (any of: *.scss) or (any of: *.{md,json,html})
