Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.9f0580b97684a42cda34.js
  main.a5318b97ff394b9fa431.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: pay tip to waiter
  documentation.json
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
  src/app/food/food-total/food-total.stories.ts
  src/app/food/interfaces/index.ts
  src/app/food/interfaces/tip.interface.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
  src/assets/functions/tips.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: rename folder to validators
  src/app/food/directives/index.ts
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/validators/fulfill-order-validator.ts
  src/app/food/validators/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: pay tip to waiter
  src/app/food/food-shell/food-shell.component.html
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: pay tip to waiter
  documentation.json
  src/app/food/food-shell/food-shell.component.html
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: pay tip to waiter
  src/app/food/food-total/food-total.component.ts
  src/assets/functions/tips.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: foodTotalComponent is a dumb component
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
  src/app/food/food-total/food-total.stories.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/services/food.service.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/tips.ts
  index.html
  main.9f0580b97684a42cda34.js
  main.e271d65b5ee9d8e41d27.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: mock food service
  documentation.json
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: food-shell storybook
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: destroy componentrefs and clear viewContainerRef
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: use detectChanges so inputs are seen in dynamic component
  src/app/food/food-card/food-card.component.ts
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: food-total component
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-total/food-total.component.ts
  src/app/food/food-total/food-total.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  610.0940cd6e50c9d808e365.js
  610.7e8d7c746fbadb9c9ada.js
  index.html
  main.c31daaed5cf2f6d120c0.js
  main.e271d65b5ee9d8e41d27.js
  runtime.08e99f8cf336b1766d28.js
  runtime.bf1f4b05517c7d20c1ae.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: add standard-version scripts
  .versionrc.json
  VERSION
  package.json
Due: prettier --write

chore(release): 0.0.4
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

chore: does not implement OnChange interface
  src/app/food/food-card/food-card.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  610.0940cd6e50c9d808e365.js
  610.7e8d7c746fbadb9c9ada.js
  index.html
  runtime.08e99f8cf336b1766d28.js
  runtime.bf1f4b05517c7d20c1ae.js
Due: eslint --fix --max-warnings 0, prettier --write

refactor: inline template
  src/app/food/food-card/food-card.component.html
  src/app/food/food-card/food-card.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: spell check ts codes
  .cspell.json
  .lintstagedrc.json
  package-lock.json
  package.json
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.6ba05f3ff9ba6be0fb36.js
  main.c31daaed5cf2f6d120c0.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: food menu option to filter out food out that is sold out
  src/app/food/food-menu-option/food-menu-option.component.html
  src/app/food/food-menu-option/food-menu-option.component.scss
  src/app/food/food-menu-option/food-menu-option.component.spec.ts
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-menu-option/index.ts
  src/app/food/food.module.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

feat: menu option
  documentation.json
  src/app/food/enums/index.ts
  src/app/food/enums/menu-option.enum.ts
  src/app/food/food-menu-option/food-menu-option.component.html
  src/app/food/food-menu-option/food-menu-option.component.scss
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-menu-option/food-menu-option.stories.ts
  src/app/food/interfaces/total.interface.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

chore: update storybooks
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: add sold out option
  documentation.json
  src/app/food/enums/menu-option.enum.ts
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-shell/food-shell.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.20b126e21452e14af9ff.js
  main.6ba05f3ff9ba6be0fb36.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: css style
  package-lock.json
  src/app/food/food-card/food-card.component.scss
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

Deploy to gh-pages by angular-cli-ghpages
  404.html
  610.2088c650020b18af8f29.js
  610.7e8d7c746fbadb9c9ada.js
  index.html
  main.20b126e21452e14af9ff.js
  main.8eca65e8b7d3e8bf89ab.js
  runtime.08e99f8cf336b1766d28.js
  runtime.6179c05c894eecd66588.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: remove console.log
  src/app/food/food-shell/food-shell.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.5
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.795322fe6da50ae1da4d.js
  main.8eca65e8b7d3e8bf89ab.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): install commitizen
  .cspell.json
  .czrc
  .husky/prepare-commit-msg
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix --max-warnings 0, prettier --write

chore(commitizen): add the commitizen-friendly badge to README.md
  .czrc
  README.md
  src/app/food/interfaces/index.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: move total cost interface to new file
  documentation.json
  src/app/food/interfaces/menu.interface.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): install commitzen
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Due: prettier --write

refactor(total): create function to round amount to 2 decimal places
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.08414c15e9ad8f5726ba.js
  main.795322fe6da50ae1da4d.js
Due: eslint --fix --max-warnings 0, prettier --write

docs(commitizen): add steps to use commitlint prompt to author commit message
  README.md
Due: prettier --write

docs(readme): update commitizen section
  README.md
Due: prettier --write

chore(husky): update commit-msg script
  .husky/commit-msg
Due: none

Path conditions:
  eslint --fix --max-warnings 0: any of: *.{ts,js}
  prettier --write: ((any of: *.{ts,js}) or (any of: *.scss)) or (any of: *.{md,json,html})
  stylelint --syntax=scss: any of: *.scss
