Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

.lintstagedrc.json:

{
  "*.{ts,js}": ["cspell 'src/**/*.ts'", "eslint --fix --max-warnings 0"],
  "*.scss": ["stylelint --syntax=scss", "prettier --write"],
  "*.{md,json,html}": "prettier --write"
}

fix: add padding to the shell component
  documentation.json
  src/app/food/food-shell/food-shell.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.a0438f0ad631c189f23e.js
  main.ffa4e08c2e45f0f1b3d3.js
  runtime.307cc75b6a75df8c31c7.js
  runtime.58e02c40f909c5b127c3.js
  styles.2c09e269a91ba19685c6.css
  styles.4b7b697e4e6861162c07.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore(release): 0.0.8
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

docs: add new entries of blog posts
  README.md
Due: prettier --write

refactor: use rest operator
  .eslintrc.json
  README.md
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: css styles
  src/app/food/food-card/food-card.component.scss
  src/app/food/food-card/food-card.component.ts
  src/app/food/food-menu-option/food-menu-option.component.ts
  src/app/food/food-question/food-question.component.html
  src/app/food/food-shell/food-shell.component.ts
  src/styles.scss
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, stylelint --syntax=scss, prettier --write

chore: install tailwind plugins as devdependencies
  package-lock.json
  package.json
Due: prettier --write

fix: add missing field-text in food-card component
  src/app/food/food-card/food-card.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

docs: write Tailwind Just In Time mode with Angular
  README.md
Due: prettier --write

refactor: food-total module
  documentation.json
  src/app/food/food-total/food-total.component.ts
  src/app/food/food-total/food-total.module.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: food-card module
  .betterer.results
  src/app/food/food-card/food-card.module.ts
  src/app/food/food-card/index.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food-total/index.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food-menu-options module
  documentation.json
  src/app/food/food-menu-option/index.ts
  src/app/food/food-menu-options/food-menu-options.component.spec.ts
  src/app/food/food-menu-options/food-menu-options.component.ts
  src/app/food/food-menu-options/food-menu-options.module.ts
  src/app/food/food-menu-options/food-menu-options.stories.ts
  src/app/food/food-menu-options/index.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: food question module
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-question/food-question.module.ts
  src/app/food/food-question/index.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food choice form module
  src/app/food/food-choice-form/food-choice-form.module.ts
  src/app/food/food-choice-form/index.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food choice module
  src/app/food/food-choice/food-choice.module.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-choice/index.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food choice card module
  src/app/food/food-menu-card/food-menu-card.module.ts
  src/app/food/food-menu-card/index.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food menu module
  src/app/food/food-menu/food-menu.module.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-menu/index.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food shell module
  src/app/food/food-shell/food-shell.module.ts
  src/app/food/food-shell/food-shell.stories.ts
  src/app/food/food-shell/index.ts
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: food question module
  documentation.json
  src/app/food/food-question/food-question.component.html
  src/app/food/food-question/food-question.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: food module
  src/app/food/food.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: apply opacity to submit button
  src/app/food/food-choice-form/food-choice-form.component.html
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  610.69877bd7c351df44b3b7.js
  610.dc36769baba1043dab3b.js
  index.html
  main.d4a2b72842e33319c98d.js
  main.ffa4e08c2e45f0f1b3d3.js
  polyfills.36c2f5b538ba5c0f4a24.js
  polyfills.bfb9076e89d171d0c7d0.js
  runtime.505458efe7d087ee7f95.js
  runtime.58e02c40f909c5b127c3.js
  styles.2c09e269a91ba19685c6.css
  styles.9d80251795a5b3505780.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: low supply indicator
  .cspell.json
  documentation.json
  package-lock.json
  package.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.module.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: dynamically display angular fontawesome icon
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: dynamically display angular fontawesome icon
  documentation.json
  package-lock.json
  package.json
  src/app/food/food-choice/food-choice.component.ts
  tsconfig.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: dynamically display angular fontawesome icon
  src/app/food/food-choice/food-choice.component.ts
  tsconfig.json
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: display low supply text dynamically
  .betterer.results
  package.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: eslint disable
  .betterer.results
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add low supply storybook
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.stories.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: add low supply storybook
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/storybook-mock/constants.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  577.2a6d4437dc07586d9b70.js
  610.c120a132d7c2957565b4.js
  610.dc36769baba1043dab3b.js
  976.d7c9903a736068b07ebc.js
  index.html
  main.4a954573766899d3f3e7.js
  main.d4a2b72842e33319c98d.js
  polyfills.36c2f5b538ba5c0f4a24.js
  polyfills.bfb9076e89d171d0c7d0.js
  runtime.505458efe7d087ee7f95.js
  runtime.e556663cca0ee4fbae26.js
  styles.9d80251795a5b3505780.css
  styles.caa5134ee446c9de0a99.css
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

chore: remove commented codes
  src/app/food/food-choice/food-choice.module.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.97c636dfe303b129239b.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: declare component reference variable
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: displayLowSupplyComponent
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

refactor: viewContainerRef
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.6a7d0371670e77cff11f.js
  main.97c636dfe303b129239b.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

refactor: cast as HtmlSpanElement
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

feat: animate spinner icon
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice/food-choice.component.ts
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.6a7d0371670e77cff11f.js
  main.9e299f4865c8033a19a4.js
Due: cspell 'src/**/*.ts', eslint --fix --max-warnings 0, prettier --write
