Repository railsstudent/ng-spanish-menu: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

.lintstagedrc.json:

{
  "*.{ts,js}": ["eslint --fix --max-warnings 0", "prettier --write"],
  "*.scss": ["stylelint --syntax=scss", "prettier --write"],
  "*.{md,json}": "prettier --write"
}

Deploy to gh-pages by angular-cli-ghpages
  404.html
  index.html
  main.120a55d20dd725c35e00.js
  main.42c5082cbc51b66304ae.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: food shell component
  src/app/app.component.spec.ts
  src/app/food/food-card/food-card.stories.ts
  src/app/food/food-shell-component/food-shell-component.component.html
  src/app/food/food-shell-component/food-shell-component.component.scss
  src/app/food/food-shell-component/food-shell-component.component.spec.ts
  src/app/food/food-shell-component/food-shell-component.component.ts
  src/app/food/food-shell-component/index.ts
  src/app/food/food.module.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

feat: food shell component
  src/app/food/food-shell-component/food-shell-component.component.ts
  src/app/food/food-shell-component/index.ts
  src/app/food/food-shell/food-shell.component.html
  src/app/food/food-shell/food-shell.component.scss
  src/app/food/food-shell/food-shell.component.spec.ts
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/food-shell/index.ts
  src/app/food/food.module.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

feat: food shell and food route module
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.scss
  src/app/app.component.spec.ts
  src/app/app.component.ts
  src/app/food/food-routing.module.ts
  src/app/food/food-shell/food-shell.component.html
  src/app/food/food.module.ts
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/menu.ts
  index.html
  main.120a55d20dd725c35e00.js
  main.4a9be31a0706c6ed1ffc.js
  polyfills.55ad9e0306bc00a7c883.js
  polyfills.bfb9076e89d171d0c7d0.js
  runtime.873bf5c6eaa9df45bcd1.js
  runtime.fd6e198b21dfd1c8eb24.js
Due: eslint --fix --max-warnings 0, prettier --write

fix: cors error
  netlify.toml
  src/environments/environment.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: cors error
  netlify.toml
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write

Deploy to gh-pages by angular-cli-ghpages
  assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: enable CORS
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: enable CORS
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: arrange all elements in one line
  documentation.json
  src/app/food/food-choice/food-choice.component.scss
  src/app/food/food-choice/food-choice.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/menu.ts
  index.html
  main.29a18db448a1caa9034c.js
  main.4a9be31a0706c6ed1ffc.js
Due: eslint --fix --max-warnings 0, prettier --write

feat: show quantity remained
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.scss
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/storybook-mock/constants.ts
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

refactor: food choice form
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice/food-choice.component.html
Due: eslint --fix --max-warnings 0, prettier --write

feat: fulfill order validator
  documentation.json
  src/app/food/directives/fulfill-order-validator.directive.ts
  src/app/food/directives/index.ts
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: fulfill order validator
  src/app/food/directives/fulfill-order-validator.directive.ts
  src/app/food/food-choice-form/food-choice-form.component.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: update quantity remained
  documentation.json
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/services/food.service.ts
Due: eslint --fix --max-warnings 0, prettier --write

feat: fulfill order validator
  .lintstagedrc.json
  src/app/food/directives/fulfill-order-validator.directive.ts
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice-form/food-choice-form.component.scss
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

chore: disable submit button when form is invalid
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/interfaces/menu.interface.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: remove available flag from interface
  documentation.json
  src/app/food/food-card/food-card.stories.ts
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-total/food-total.stories.ts
  src/app/food/interfaces/index.ts
  src/app/food/interfaces/menu.interface.ts
  src/app/food/interfaces/ordered-choice.interface.ts
  src/app/food/storybook-mock/constants.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: update reference to qtyMap to rerender component
  documentation.json
  src/app/food/food-choice/food-choice.component.ts
  src/app/food/food-menu/food-menu.component.html
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/constants.ts
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

refactor: pass food service to validator
  src/app/food/directives/fulfill-order-validator.directive.ts
  src/app/food/food-choice-form/food-choice-form.component.html
  src/app/food/food-choice-form/food-choice-form.component.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
  src/app/food/services/food.service.ts
  src/app/food/storybook-mock/mock.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: import HttpClientModule to storybooks
  src/app/food/directives/fulfill-order-validator.directive.ts
  src/app/food/food-choice/food-choice.component.html
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-total/food-total.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

fix: update id incorrectly
  src/app/food/services/food.service.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update menu
  src/assets/functions/menu.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore: update README.md
  README.md
Due: prettier --write

Deploy to gh-pages by angular-cli-ghpages
  404.html
  assets/functions/menu.ts
  index.html
  main.29a18db448a1caa9034c.js
  main.b2fd8f10579e9ecfcb32.js
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps): upgrade storybook
  documentation.json
  package-lock.json
  package.json
Due: prettier --write

chore: upgrade to storybook 6.3
  .eslintignore
  .prettierignore
  .storybook/main.js
  .storybook/typings.d.ts
  documentation.json
  package-lock.json
  package.json
  src/app/food/food-card/food-card.stories.ts
  src/app/food/food-choice-form/food-choice-form.stories.ts
  src/app/food/food-choice/food-choice.stories.ts
  src/app/food/food-menu-card/food-menu-card.stories.ts
  src/app/food/food-menu/food-menu.stories.ts
  src/app/food/food-question/food-question.stories.ts
  src/app/food/food-total/food-total.stories.ts
Due: eslint --fix --max-warnings 0, prettier --write

chore(deps): standard-version
  .versionrc.json
  package-lock.json
  package.json
Due: prettier --write

chore(release): 0.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

fix: versionrc.json
  .versionrc.json
Due: prettier --write

chore(release): 0.0.2
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: prettier --write

fix: versionrc.json to add postag
  .versionrc.json
Due: prettier --write

chore(release): 0.0.3
  CHANGELOG.md
  VERSION
  package-lock.json
  package.json
Due: prettier --write

feat: create dynamic component
  src/app/food/food-menu/food-menu.component.ts
  src/app/food/food-shell/food-shell.component.html
  src/app/food/food-shell/food-shell.component.scss
  src/app/food/food-shell/food-shell.component.ts
  src/app/food/interfaces/menu.interface.ts
Due: eslint --fix --max-warnings 0, prettier --write, stylelint --syntax=scss

Deploy to gh-pages by angular-cli-ghpages
  3rdpartylicenses.txt
  404.html
  610.7e8d7c746fbadb9c9ada.js
  index.html
  main.a5318b97ff394b9fa431.js
  main.b2fd8f10579e9ecfcb32.js
  polyfills.36c2f5b538ba5c0f4a24.js
  polyfills.bfb9076e89d171d0c7d0.js
  runtime.08e99f8cf336b1766d28.js
  runtime.873bf5c6eaa9df45bcd1.js
Due: eslint --fix --max-warnings 0, prettier --write

chore: fix css styles
  src/app/food/food-shell/food-shell.component.scss
Due: prettier --write, stylelint --syntax=scss
